
/* header styles */
.header{
    max-width: 1280px;
}



/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 20px;
}

nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: black;
}


/* banner styles */
.banner{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    gap: 50px;
}

.banner-title{
    font-weight: bold;
    font-size: 50px;
}

.banner-description{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(9, 9, 9);
}
.clr{
    color: #f03b1fd5;
}
.banner-content{
    max-width: 576px;
}
.banner-picture{
    width: 576px;
    margin-right: 60px;
}

/* PLANTS SECTION STYLES */


.plants{
    max-width: 1280px;

}

.plants-caption{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plant-title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
    
}
.plant-description{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 40px;
    color: rgb(9, 9, 9);
}

.plants-cards{
padding-left: 200px;
padding-right: 200px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    max-width: 1140px;

}

.flowers{
    align-items: center;
}
.flowers image{
    width: 100%;
}

.btn-primary{
    background-color: #f03b1fd5;
    color: white;
    border: none;
    width: 50%;
    font-size: 15px;
    padding: 5px;
    align-items: center;
}

/* seller-section styles */

.seller{
    margin:100px;
    max-width: 1100px;
}

.seller-description{
    background-image: url(../assets/badge.png), url(../assets/trustbadge.png);
  max-height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left, top;
  text-align: right;
  justify-items: right;
  
}

.sell-title{
    font-weight: bold;
    font-size: 50px;
}


.seller-description ul li{
    text-align: right;
    color: rgba(40, 25, 25, 0.69);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}
    
/* deals section styles */


.deals{
    max-width: 1100px;
    margin: 100px;
}
.deal-content{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.deals-title{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #f03b1fd5;
}
.deals-desc{
    color: rgba(40, 25, 25, 0.69);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}


/* join section styles */


.join{
    background-image: url(../assets/last.png);
    background-size: cover;
    padding: 150px;
}
.btn-sec{
    background-color: #f03b1fd5;
    color: white;
    border: none;
    padding: 10px;
}